body {
    color:#fff;
    font-family:'Archivo';
    background-color: rgb(37 37 64);
    height:100%;
    width:100%;
    margin:0;
}

.demo-content {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes scaleIn {
    0% {
        top:-30px;
    }
    100% {
        top:20px;
    }
}

.demo-content {
    position:relative;
    margin:0 auto;
    width:400px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
    border-radius:4px;
    box-shadow:0px 0px 12px #000;
    color:#000;
    padding:20px;
    box-sizing:border-box;
    font-size:15px;
    line-height:24px;
    padding-bottom:70px;
    margin-top:6%;
    z-index:10;
}

.demo-content > h1 {
    font-size:24px;
    font-weight:700;
    margin:10px 0px 20px 0px;
    padding:0;
    opacity:0;
    animation:0.5s fadeIn 0.2s linear;
    animation-fill-mode:forwards;
}

.demo-content > h1 > .floatr-logo {
    position:absolute;
    right:20px;
    top:20px;
    width:35px;
    height:35px;
    display:inline-block;
    background-image:url('../images/logo.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:100px;
    opacity:0;
    animation:0.5s fadeIn 0s linear, 1s scaleIn 0s ease;
    animation-fill-mode:forwards;
}

.demo-content > p {
    opacity:0;
    animation:0.5s fadeIn 0.2s linear;
    animation-fill-mode:forwards;
}

.demo-content > .credits {
    filter:blur(0.1px);
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:auto;
    font-size:10px;
    font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    animation:0.5s fadeIn 0.5s linear;
    animation-fill-mode:forwards;
}

.demo-content > .credits > .code {
    font-weight:700;
    font-family:'Arial Black';
    letter-spacing:-1.1px;
    font-size:8px;
    margin-right:4px;
}

.demo-content > .credits > img {
    margin-left:7px;
}

.demo-content > .credits > a {
    text-decoration:none;
    color:rgb(64, 84, 197);
}

#demo-particleSpace {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-10;
    filter:blur(0.8px);
}

.demo-controller {
    position:absolute;
    right:20px;
    top:20px;
    width:300px;
    border-radius:10px;
    background-color:rgba(0,0,0,0.2);
    z-index:10;
    animation:0.5s fadeIn 0s linear;
    animation-fill-mode:forwards;
}

.demo-controller > h1 {
    padding:0;
    margin:20px;
    font-size:22px;
    padding-bottom:10px;
    border-bottom:2px solid #fff;
}

.demo-controller > h3 {
    font-size:12px;
    padding:0;
    position:relative;
    margin-left:20px;
    text-transform:uppercase;
    display:inline;
}

.demo-controller > h4 {
    color:rgb(255, 255, 255);
    display:inline;
    position:absolute;
    right:20px;
    margin-top:0px;
    font-weight:300;
}

.demo-controller > input {
    position: relative;
    display: block;
    margin : 0 auto;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 5px;
    background: rgba(255,255,255,0.5); 
    border-radius:100px;
    outline: none; 
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top:20px;
    margin-bottom:40px;
}

.demo-moon {
    height:100px;;
    position:absolute;
    bottom:0;
    width:100%;
}